/.DS_Store
/.env
/node_modules
**/node_modules
**/.next
**/out
**/dist
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
apps/api/.venv
/backups
*.sql.gz
**/venv
apps/api/uploads/*
!apps/api/uploads/.gitkeep
apps/web/.turbo
*.log
.idea
.vscode
